body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4; /* Light background color */
    display: flex;
    height: 100vh;
    background: url('images/homee.png') no-repeat center center fixed;
    background-size: cover;
}

.navbar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #c9fcfd;
    padding: 20px;
    border-radius: 12px;
   	margin-left:20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    
    width: 150px; /* Adjust width as needed */
    margin-top:20px;
    max-height:800px;
    height:100%;
}

.navbar-buttons {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.navbar-logout {
    margin-top: auto;
    margin-left:auto;
    margin-right:auto;
}

.navbar-button {
    width: 100%;
    margin-bottom: 30px;
    color: black;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    font-size: 17px;
    background-color: #c5f4f4;
    border: 2px solid #c5f4f4;
    border-radius: 12px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    
}

.navbar-button:hover {
    background-color: #1dddef;
    color: black;
}

.navbar-button:active {
    background-color: #00008b;
    color: white;
}

.content {
    background-color: #fff;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: 20px;
    flex-grow: 1;
    opacity: 0.75;
}

.info-table {
    width: 100%;
    margin-bottom: 20px;
    border-collapse: collapse;
}

.info-table td {
    padding: 10px;
    border-bottom: 1px solid #333;
    text-align: left;
}

h1 {
    margin-top: 0;
}

.text-output {
    font-size: 18.5px;
    color: black;
    text-align: left;
}

.text-values {
    font-weight: bold;
    color: #333;
}
